
/* Importar iconos boostrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

h1 {
    text-align: center;
    color: tomato;
}

div {
    padding: 15px;
    margin: auto;
    max-width: 400px;
}

.my-bi-alarm {
    font-size: 2.5em;
    color: cornflowerblue;
}

.icono-rojo {
    font-size: 2.5em;
    color: red;
}

.my-home-google {
    font-size: 2.5em;
    color: gold;
}

.my-home-ion {
    font-size: 2.5em;
    color: blue;
    background-color: darkgray;
}