nav.main {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.main {
    width: 75%;
    max-height: 700px;
    max-width: 1700px;
}

nav.main-content {
    padding: 0px 60px;
}

nav > h1.main-content {
    font-size: 3.5em;
    margin-bottom: 0px;
}

nav > p.main-content {
    font-size: 1.5em;
    margin-top: 0px;
}