
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

div.activities {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    padding: 20px 60px;
}