
/* Selector universal */
* {
    background-color: ghostwhite;
    color: cornflowerblue; /* Este color no se ve porque todos los elementos los sobreescriben */
}

h3 {
    color: green;
    text-align: left;
}

/* Para sobreescribir los estilos dentro del html */
h2 {
    color: brown !important;
}

#titulo {
    color: crimson;
    text-align: right;
}

.otro-titulo {
    color: aqua;
    text-align: left;
}

/* se pueden poner varios elementos */
p, div {
    color: crimson;
    text-align: center;
}

/* subclase: solo aplica a los párrafos que tengan la clase centrar */
p.centrar {
    text-align: center;
}

.contenedor h2 { /* Los h2 dentro del div contenedor */
    font-size: 30px;
}