
h4, div, p {
    border: 3px solid blueviolet;
    text-align: center;
    color: cornflowerblue;
    padding: 10px;
    display: block; /* Por defecto son bloque cada uno en una línea */
}

span {
    border: 1px solid blue;
    display: inline; /* El span por defecto es inline */
}

.none {
    display: none; /* No se muestra y no ocupa */
}

.inline-block {
    background-color: cornflowerblue;
    border: 2px solid black;
    padding: 15px;
    height: 40px;
    width: 300px;
    display: inline-block; /* A los elementos inline no se les puede cambiar el tamaño ni padding, pero si los hacemos inline block si y siguen siendo elementos inline */
}

.hidden {
    visibility: hidden; /* No se muestra pero ocupa */
}