
nav > * {
    background-color: #21222A;
}


nav {
    display: flex;
    background-color: #21222A;
    align-items: center;
    height: 30px;
    padding: 30px 25px;
}

nav > h3, nav > h4 {
    margin: 0;
}

nav > h3 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

nav > h4 {
    color: #DEEBF8;
    font-weight: 600;
}


img {
    height: 30px;
    margin-right: 7px;
}