
* {
  margin: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: #2e2f3a;
  background-image: url(./assets/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right 140%;
}