

h1 {
    text-align: center;
    color: crimson;
}

div {
    width: 30%;
    padding: 10px;
    height: 150px;
    margin: 10px;
}

div.contenedor1 {
    border: 5px dashed red;
    float: left; /* default */
    
}

div.contenedor2 {
    border: 5px dashed blue;
    float: right;
}

div.contenedor3 {
    border: 5px dashed greenyellow;
    float: right; /*Si hay dos elementos con el mismo float se apilan */
}

div.contenedor3.limpio {
    clear: both; /* Evita que se coloque en el centro entre dos parrafos flotados a ambos lados y que se baje a la siguiente línea */
    border: 5px dashed darkorange;
    margin: auto;
}
